@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  /* hide the cursor */
  /* cursor: none; */
  /* overflow: hidden; */
}

#CustomCursor,
#InnerCustomCursor {
  display: none;
  position: fixed;
  background-color: #fffef8;
  mix-blend-mode: difference;
  pointer-events: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  z-index: 99;
  transition: all ease-out 0.25s;
  transition-property: width, transform, background-color, backdrop-filter;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  margin-top: 24px;
}

.flex-gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
  scroll-snap-type: y mandatory;
}

.gallery-photo {
  scroll-snap-align: start;
}

/* tailwind sm */
@media screen and (min-width: 640px) {
  #CustomCursor {
    display: block;
  }

  .grid-gallery {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .flex-gallery {
    gap: 32px;
  }
}

/* tailwind md */
@media screen and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .flex-gallery {
    gap: 50vh;
  }
}

/* LOCOMOTIVE PART  */
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
